<h1>Submit a movie</h1>

<form method="post" action="/movies/new">
	<label for="name">Name</label>
	<input type="text" name="name" id="name"><br><br>

	<label for="year">Year</label>
	<input type="text" name="year" id="year"><br><br>

	<button type="submit">
			Submit Movie
	</button>
</form>