<form method="POST" action="/login">

	<p>Log in by entering your username &amp; password</p>
	<input type="text" name="username">
	<input type="password" name="password">
	<button type="submit">Submit</button>
</form>