<form method="POST" action="/signup">
	<p>Enter your username, password, and email</p>
	<input type="text" name="username">
	<input type="password" name="password">
	<input type="email" name="email">
	<button type="submit">Submit</button>
</form>